# Node modules
node_modules/

# Ambiente de configuração
.env

# Logs
*.log

# Diretórios de build
dist/
build/

# Arquivos de dependências de sistema
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs e editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Sistema de arquivos
.DS_Store
Thumbs.db

# Outros arquivos temporários
*.tmp
*.temp
